[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gensim = "*"
click = "*"
pyyaml = "*"
torch = {path = "http://download.pytorch.org/whl/cpu/torch-0.4.1.post2-cp37-cp37m-linux_x86_64.whl"}

[dev-packages]

[requires]
python_version = "3.7"
